[submodule "src/main/java/com/ly/sys"]
	path = src/main/java/com/ly/sys
	url = git@git.oschina.net:dongfangx/nutz-sys.git
[submodule "src/main/java/com/ly/comm"]
	path = src/main/java/com/ly/comm
	url = git@git.oschina.net:dongfangx/nutz-common.git
[submodule "src/main/webapp/WEB-INF/sys"]
	path = src/main/webapp/WEB-INF/sys
	url = git@git.oschina.net:dongfangx/beetl-bjui-sys.git
[submodule "src/main/webapp/sys"]
	path = src/main/webapp/sys
	url = git@git.oschina.net:dongfangx/sys-resources.git
